@tailwind base;
@tailwind components;
@tailwind utilities;



#root{
  width: 100vw;
  height: 100vh;
}

.main-container{
  display: block;
  height: 100%;
  width: 100%;
}

#root{
  background-color: black;
}